* {box-sizing: border-box;}
html, body {
	margin: 0;
	padding: 0;
}
body {
	background-color:rgb(25,25,25);
	color: white;
	display:grid;
	margin-top:1px;
}

.logo{
	grid-area: logo;
}
.header{
	grid-area: header;
}
.sidebar{
	grid-area: sidebar;
}
.main{
	grid-area: main;
}
.footer{
	grid-area: footer;
}

.container {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: auto;
	grid-template-areas: 
		"logo header header header header header header header"
		"sidebar sidebar . main main main main ."
		"sidebar sidebar . main main main main ."
		"footer footer footer footer footer footer footer footer";
}

.item {
	border:1px solid white;
}


.row-container {
	display:inline-grid;
}

.col-1{ grid-column: 1/2; }
.col-2{ grid-column: 2/3; }
.col-3{ grid-column: 3/4; }
.col-4{ grid-column: 4/5; }
.col-5{ grid-column: 5/6; }
.col-6{ grid-column: 6/7; }
.col-7{ grid-column: 7/8; }
.col-8{ grid-column: 8/9; }

.col-1-2{ grid-column:1/3; }
.col-3-8{ grid-column: 3/9; }
.col-all{ grid-column: 1/9; }

.row-1{ grid-row: 1/2;  }
.row-2{ grid-row: 2/3; }
.row-3 { grid-row: 3/4; }
