html, body { 
   		 margin:0; 
   		 padding:0; 
   		 height:100%; 
	}
	body {
		background:black;
		color:white;
	}
	main {
		display: flex;
		flex-direction: row;
		flex-wrap:nowrap;
	}
	#port{
		display:block;
		height:450px;
		width:800px;
		/*background-color:pink*/
		/*border:3px solid white;*/
	}
	.containerLeft {
		width:12.5%;
		height:100%;
	}
	.containerRight {
		width:87.5%;
		height:100%;
	}
	#ulSongList { 
		padding:3px; 
		margin:0;
		height:100%;
		width:100%;
		overflow-y: hidden;
		border-bottom:1px solid white;
		border-right:1px solid white;
		border-bottom-right-radius: 10px;
		-webkit-transition: all 0.75s linear;
    	-moz-transition: all 0.75s linear;
    	-o-transition: all 0.75s linear;
    	transition: all 0.75s linear;
	}
	#ulSongList > li {
		margin:2px;
		padding:1px;
		list-style: none;
		border-radius:5px;
		cursor:pointer;
		border: solid 1px white;
		overflow:hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		-webkit-transition: all 0.25s ease-in;
    	-moz-transition: all 0.25s ease-in;
    	-o-transition: all 0.25s ease-in;
    	transition: all 0.25s ease-in;
	}
	.player-control {
		cursor: pointer;
	}

	.isNotVisible {
		visibility: hidden;
	}
	.activated {
		background-color:white;
		color:black;
	}